/*  your css code here. If applicable */
.navbar{
	background-color:#D3D3D3;
	padding:10px;
	display:flex;
	list-style: none;
	justify-content:space-evenly;
	
}

.list{
	display:inline;
	margin-right: 1rem;
	
	
}